<div class="clearfix">
  <div class="row">
    <div class="medium-6 large-6 columns">
      <div class="large-8 columns">
        <figure>
          <a href="/"><img src="../images/logofracher.fw.png" alt=""></a>
        </figure>
        <h6 class="cc">&copy; 2015, Constructora Fracher S.A de C.V.,</h6>
        <h5><span class="splik_icon-telefono"> </span> (55) 36905538</h5>
      </div>
    </div>
    <div class="medium-6 large-6 columns text-center">
      <p class="feedback">Síguenos.</p>
      <ul class="social">
        <li><a href="https://www.facebook.com/frachermx"><span class="splik_icon-facebook"> </span></a></li>
        <li><a href="https://twitter.com/@frachermx"><span class="splik_icon-twitter"> </span></a></li>
      </ul>
      <small>
        <h6>hecho con <span class="splik_icon-heart"> por <a href="http://splik.mx"><icon class="logo_fracher1 splik_icon-splik"></icon></a> </span></h6>
      </small>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <ul class="legals">
      <li><a href="#" data-reveal-id="thirdModal">Terminos y Condiciones.</a></li>
      <li><a href="#" data-reveal-id="fourthModal">Aviso Legal.</a></li>
    </ul>
  </div>
</div>
