<section>
  <form data-abide>
    <div class="name-field">
      <label>Escribe tu nombre <small>* requerido</small>
        <input type="text" required pattern="[a-zA-Z]+"> </label>
      <small class="error">Se requiere un nombre valido, no puede estar vacío.</small>
    </div>
    <div class="telephone-field">
      <label>Escribe tu número telefónico <small>* requerido</small>
        <input type="text"> </label>
    </div>
    <div class="email-field">
      <label>Email <small>* requerido</small>
        <input type="email" required placeholder="Ejemplo: hola@fracher.com.mx">
      </label>
      <small class="error">Se requiere un correo valido.</small>
    </div>
    <div class="text-field">
      <label>Cuéntanos acerca de tu proyecto.
        <textarea></textarea>
      </label>
      <br>
    </div>

    <button class="button expand radius" type="submit"><span class="splik_icon-envelope"></span> Enviar</button>
  </form>
</section>
