<div class="row" data-equalizer>
  <div class="large-12 text-center">
    <a name="galeria"></a>
    <h1 data-magellan-destination="galeria">Algunos de nuestros trabajos</h1>
  </div>
  <div class="large-12">
      
  </div>
</div>
