<div class="row">
  <div class="large-12 text-center">
    <a name="servicios"></a>
    <h1 data-magellan-destination="servicios"> Nuestros servicios</h1>
  </div>
  <div class="container">
  <div class="row">
    <div class="large-12">
      <div class="features-wrapper">
        <div class="large-4 wp2 columns">
          <div class="icon">
            <i class="splik_icon-tools shadow"></i>
          </div>
          <h2 class="text-center">Obra Civil y Acabados.</h2>
          <p>
            <ul class="text-center">
              <li class="servimage">
                <img src="../images/a.jpg" alt="">
                <small>
                  <h4>Acabados en general para todo tipo de construcción</h4>
                </small>
              </li>
            </ul>
          </p>
        </div>
        <div class="large-4 wp2 delay-05s columns">
          <div class="icon">
            <i class="splik_icon-tools-2 shadow"></i>
          </div>
          <h2 class="text-center">Suministro y colocación.</h2>
          <p>
            <ul class="text-center">
              <div class="row">
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/b.jpg" alt="">
                    <small>
                      <h4>Durock</h4>
                    </small>
                  </li>
                </div>
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/e.jpg" alt="">
                    <small>
                      <h4>Tablaroca</h4>
                    </small>
                  </li>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/c.jpg" alt="">
                    <small>
                      <h4>Cempanel</h4>
                    </small>
                  </li>
                </div>
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/g.jpg" alt="">
                    <small>
                      <h4>Pasta texturizada</h4>
                    </small>
                  </li>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/h.jpg" alt="">
                    <small>
                      <h4>Azulejo y Lozeta</h4>
                    </small>
                  </li>
                </div>
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/i.jpg" alt="">
                    <small>
                      <h4>Cantera</h4>
                    </small>
                  </li>
                </div>
              </div>
              <li class="servimage">
                <img src="../images/l.jpg" alt="">
                <small>
                  <h4>Mármol, Granito y Ónix</h4>
                </small>
              </li>
            </ul>
          </p>
        </div>
        <div class="large-4 wp2 delay-1s columns">
          <div class="icon">
            <i class="splik_icon-paintbrush shadow"></i>
          </div>
          <h2 class="text-center">Suministro y aplicación de pintura.</h2>
          <p>
            <ul class="text-center">
              <div class="row">
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/f.jpg" alt="">
                    <small>
                      <h4>Estacionamiento</h4>
                    </small>
                  </li>
                </div>
                <div class="large-6 columns">
                  <li class="servimage">
                    <img src="../images/k.jpg" alt="">
                    <small>
                      <h4>Epóxica</h4>
                    </small>
                  </li>
                </div>
              </div>
            </ul>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
  <div class="large-12 text-center">
    <h2>No esperes más</h2>
      <a href="#" class="button radius" data-reveal-id="firstModal"><span class="splik_icon-envelope"></span> Contáctanos ahora.</a>
  </div>
</div>
