
amarillo = #FBBD35
amarillo_claro = #EFC68A
azul_fb = #39579E
azul_fc = #2C376A
azul_tt = #5FA9DD
blanco_bg = #FFFFFF
crema    = #F5E5D6
gris_claro = #818181
gris_oscuro = #333333
gris_mas_claro = #F0F0F0
gris_footer = #242830
rojo = #D92C2C
rojo_yt = #B80000
verde    = #6BC2BD
violeta = #B352BF
transparente = rgba(0, 0, 25, 0.6)

body
  background gris_footer
a
  color azul_tt

h1
  font-size 2em
  font-family: 'Yanone Kaffeesatz' sans-serif

h2
  font-family 'Yanone Kaffeesatz' sans-serif
  font-size 1.5em

h3
  color azul_fc
  font-size 1.5em
  font-family: 'Yanone Kaffeesatz' sans-serif

h4
  font-size 1em

h5
  color blanco_bg
  font-size .8em

h6
  color blanco_bg
  font-size .6em

header
  background url("http://www.fracher.com.mx/images/pisica1.jpg") no-repeat fixed center
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding 100px
  h1
    color blanco_bg
    text-shadow 3px 3px 3px gris_oscuro
  h2
    color blanco_bg
    text-shadow 3px 3px 3px gris_oscuro

li.servimage img
  border-radius 100px
  width 75px
  padding 7px
  border 1px solid gris_oscuro

footer
 background-color gris_footer
 padding 40px 0 30px
 color white
 font-size 16px
 line-height 28px
 padding 30px 0
 text-align center
 -moz-box-sizing border-box
 -webkit-box-sizing border-box
 box-sizing: border-box

footer p
 color #fff

section
  background blanco_bg

.imagencont
  border-radius 50%
  width 15%
  height 15%

.imagencont1
  border-radius 50%
  width 40%
  height 40%
  position relative

.feedback, .legals, .legals1
  font-family: 'Yanone Kaffeesatz' sans-serif

.intext
  line-height .1px

.intext1
 font-family: 'Yanone Kaffeesatz' sans-serif

.splik_icon-twitter
  color azul_tt

.splik_icon-facebook
  color azul_fb

.splik_icon-google, .splik_icon-heart
  color rojo

.splik_icon-youtube4
  color rojo_yt

.splik_icon-github4
  color violeta

ul.legals, ul.social, ul.legals1
  list-style none

ul.legals li, ul.social li, ul.legals1 li
  display inline-block

ul.legals li::after
  content " | "

ul.legals li:last-child::after
  content ""
  color gris_claro

ul.legals1 li::after
  content " | "
  color azul_fc

ul.legals1 li:last-child::after
  content ""

ul.legals
  color blanco_bg
  text-align center

ul.social
  font-size 30px
  text-align center

.legals
  color blanco_bg
  ::hover
    color blanco_bg

.navbar
  background blanco_bg
  border-bottom 2px solid azul_fc

.legals1
  font-size 1.2em
  text-align right

.logo_fracher
  font-size 10px
  color azul_fc

.logo_fracher1
    font-size 15px
    color blanco_bg

ul li, .legals, .social
  color blanco_bg
  opacity 80%

.button
  background azul_tt
  border-bottom 5px solid azul_fc

#owl-demo .owl-item div
  padding 5px

#owl-demo .owl-item img
  display block
  width 100%
  height auto
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px

.features-wrapper, .team-wrapper { margin: 40px 0 0; }
.shadow { text-shadow: rgb(68, 107, 219) 1px 1px, rgb(68, 107, 219) 2px 2px, rgb(68, 107, 219) 3px 3px, rgb(68, 107, 219) 4px 4px, rgb(68, 107, 219) 5px 5px, rgb(68, 107, 219) 6px 6px, rgb(68, 107, 219) 7px 7px, rgb(68, 107, 219) 8px 8px, rgb(68, 107, 219) 9px 9px, rgb(68, 107, 219) 10px 10px, rgb(68, 107, 219) 11px 11px, rgb(68, 107, 219) 12px 12px, rgb(68, 107, 219) 13px 13px, rgb(68, 107, 220) 14px 14px, rgb(68, 107, 221) 15px 15px, rgb(69, 108, 222) 16px 16px, rgb(69, 108, 222) 17px 17px, rgb(70, 109, 221) 18px 18px, rgb(70, 110, 222) 19px 19px, rgb(70, 110, 222) 20px 20px, rgb(70, 111, 223) 21px 21px, rgb(70, 111, 223) 22px 22px, rgb(70, 111, 223) 23px 23px, rgb(70, 112, 224) 24px 24px, rgb(70, 112, 224) 25px 25px, rgb(70, 114, 225) 26px 26px, rgb(70, 115, 226) 27px 27px, rgb(68, 107, 219) 28px 28px, rgb(70, 116, 228) 29px 29px, rgb(71, 118, 229) 30px 30px; }
.icon { height: 175px; width: 175px; line-height: 175px; max-width: 100%; background: #28327A; border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; color: #fff; font-size: 55px; text-align: center; vertical-align: middle; position: relative; margin: 0 auto 50px; }
.swag { background: url('../images/plants-bg.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed; padding: 50px 0; }
.swag h1 { color: #fff; font-size: 40px; text-transform: uppercase; letter-spacing: 5px; }
.swag h1 span { display: block; font-size: 25px; margin-top: 20px; }
.down-arrow-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: rgba(68, 107, 219, 0.8); display: inline-block; margin: 10px auto 20px; color: #fff; font-size: 16px; line-height: 40px; text-align: center; }
.down-arrow-btn:hover, .down-arrow-btn:focus { color: #fff; background: rgba(34, 53, 109, 1); }
